<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Project Blueprints</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Create Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/update">Update Project</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li>
        <form class="form-inline">
          <label class="nav-link" for="project">Select Board:</label>
          <select class="form-control" [(ngModel)]="selectedProject" (change)="onChange($event)" id="project" [ngModelOptions]="{standalone: true}">
            <option disabled selected>Select A Board</option>
            <option *ngFor="let company of projectNames['companies']" [value]="company" selected>{{ company }}</option>
          </select>
        </form>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/boards">Manage Boards</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
