<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Project ID</th>
    <th scope="col">Project</th>
    <th scope="col">Hours Used</th>
    <th scope="col">Hours Allocated</th>
    <th scope="col">Materials Used</th>
    <th scope="col">Materials Allocated</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ project.id }}</td>
    <td>{{ project.name }}</td>
    <td>{{ project.hours_used | number }}</td>
    <td>{{ project.hours_allocated | number }}</td>
    <td>{{ project.materials_used | currency }}</td>
    <td>{{ project.materials_allocated | currency }}</td>
  </tr>
  </tbody>
</table>
