<div class="container">
  <div class="card">
    <div class="card-body">
      <form form [formGroup]="updateForm" (ngSubmit)="onSubmit">
            <div class="form-group">
                <label for="name">Project</label>
                <select class="form-control" id="name" formControlName="name">
                    <option>Choose a Project:</option>
                    <option *ngFor="let project of projects" [value]="project.name" (tap)="onSelect(project)" (click)="onSelect(project)">{{ project.name }}</option>
                </select>
            </div>
              <div class="form-group" *ngIf="project">
                  <label for="id">Project ID</label>
                  <input class="form-control" type="text" formControlName="id" placeholder="Project ID" [value]="project.id" readonly>
            </div>
            <div class="form-group">
              <label for="materialsUsed">Material Used</label>
              <input type="text" class="form-control" formControlName="materialsUsed" placeholder="Material Used" >
          </div>
            <div class="form-group">
                <label for="hoursUsed">Add Hours Used:</label>
                <input type="text" class="form-control" formControlName="hoursUsed" placeholder="Hours Used" >
            </div>
            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>
